/* RESET RULES */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul, ol, menu{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: currentColor;
}

img{
    max-width: 100%;
}




/* UTILITIES */

.text-gold{
    color: goldenrod;
}

.text-drakgray{
    color: rgb(75, 75, 75);
}

.bg-blue{
    background-color: #1B72E8;
}

.bg-darktransparent{
    background-color: rgba(0, 0, 0, 0.2);
}







/*\\ header  //*/

.header__navbar{
    height: 70px;
    padding: 16px 0;
}

.header__navbar__logo{
    width: 32;
    aspect-ratio: 1/1;
}


.header__navbar__searchbar{
    padding-left: 30px;
    background-color: #e5e5e5;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
}


.header__navbar__searchbar--symbol{
    position: absolute;
    top: 10px;
    left: 20px;
    color: rgb(44, 44, 44);
}



/*\\ Main //*/

.main-page-wrapper{
    height: calc(100vh - 70px);
    display: flex;
}

/*\ Main Sidebar /*/

.main__sidebar{
    background-color: #12293e;
    color: white;
    padding: 16px 0;
}


.main__sidebar .row{
    width: 68px;
    height: 100%;
    flex-shrink: 0;
}

.main__sidebar__link--list li{
    margin-bottom: 7px;
}



/*\ Main Page Content /*/
.main__content{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

/* Content title */
.main__content__title{
    flex-shrink: 0;
    background-color: #1B72E8;
    color: white;
    padding: 25px 0;
}


.main__content__title--new-student,
.main__content__title--online--student,
.main__content__title--brand{
    display: flex; 
    justify-content: flex-start;
}

.main__content__title--online--student,
.main__content__title--brand{
    flex-direction: column;
}

.main__content__title--new-student{
    align-items: baseline;
    gap: 10px;
}


.main__content__title--brand__bagdes{
    display: flex;
    margin-top: 5px;
    align-items: baseline;
    gap: 5px;
}



.add-button{
    width: 20px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Content Components */
.main__content__components{
    flex-grow: 1;
}












/*\\ Tablet Responsive View //*/

@media (min-width: 768px){

    /* Main Content Title */
    .main__content__title .row{
        flex-direction: row-reverse;
    }
}






/*\\ Desktop Responsive View //*/

@media (min-width: 992px){

    /* Header Navbar*/

    .header__navbar__list{
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
    }


    /* Main Sidebar */
    .main__sidebar .row{
        width: 150px;
    }

    .main__sidebar__link--list li,
    .main__sidebar__link--admin{
        display: flex;
        gap: 5px;
    }
}
















/* DEBUG */


.debug [class^=col]{
    border: solid 1px red;
}

.debug .main__sidebar{
}

.debug .main__content{
    background-color: bisque;
}


.debug .main__content__title [class^=col]{
}


.debug .main__content__components [class^=col]{
    min-height: 600px;
}