/* RESET RULES */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul, ol, menu{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: currentColor;
}

img{
    max-width: 100%;
}




/* UTILITIES */

.text-gold{
    color: goldenrod;
}

.text-drakgray{
    color: rgb(75, 75, 75);
}









/*\\ Header  //*/

.header__navbar{
    height: 70px;
    padding: 16px 0;
}

.header__navbar__logo{
    width: 32;
    aspect-ratio: 1/1;
}


.header__navbar__searchbar{
    padding-left: 30px;
    background-color: #e5e5e5;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
}


.header__navbar__searchbar--symbol{
    position: absolute;
    top: 10px;
    left: 20px;
    color: rgb(44, 44, 44);
}




/*\\ Tablet Responsive View //*/

@media (min-width: 7682px){

}






/*\\ Desktop Responsive View //*/

@media (min-width: 992px){

    .header__navbar__list{
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
    }
}